<div class = "ui inverted segment">
  <div class="ui top inverted fixed secondary pointing menu" id = "navbar">
    <a class="header item" href="/">
      CSM Utilization Tool
    </a>
	<div class = "right menu">
		<a class = "item" href = "/CSM">
			CSM
		</a>
		<a class = "item" href = "/Clients">
			Clients
		</a>
		<div class="ui pointing dropdown link item">
		    <span class="text">Geo</span>
		    <i class="dropdown icon"></i>
		    <div class="menu" >
		      <a class="item" href = "/Geo">Map Overview</a>
			  <div class="divider"></div>
		      <a class="item" href = "/Geo/Global">Global</a>
		      <a class="item" href = "/Geo/North-America">North America</a>
		      <a class="item" href = "/Geo/Latin-America">Latin America</a>
		      <a class="item" href = "/Geo/Asia-Pacific">Asia Pacific</a>
			  <a class="item" href = "/Geo/EMEA">EMEA</a>
			</div>
	    </div>

	    <a class="item" href="/Reports">
	      Reports
	    </a>

		<div class = "ui right aligned search">
			<div class="ui icon input">
				<input class="prompt" type = "text" placeholder = "Search for a CSM" style="width: 400px;">
				<i class="search icon"></i>
			</div>
			<div class = "results"></div>
		</div>

	</div>
</div>
