<!DOCTYPE html>
<html>
	<head>
		<title>Missing Info on ETA Report</title>

		<!-- External Styling -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />


    <!-- Internal Styling -->
  	<link rel="stylesheet" type="text/css" href="/PDFStyles/TrialClientsPDF.css">
  	<link rel="stylesheet" type="text/css" href="/print.css" media="print" />

		<!-- Library -->
		<script type="text/javascript" src="/libraries/usefulFunctions.js"></script>
		<script type="text/javascript" src="/libraries/dates.js"></script>
		<script type="text/javascript" src="/libraries/query.js"></script>

    <!-- Dependencies -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> <!--angular-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script> <!-- Chart.js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script> <!-- angular chart -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- jQuery -->
    <script type="text/javascript" src="/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script> <!-- angular charts -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script type="text/javascript" src="/angularConfig.js"></script>
    <script type="text/javascript" src="/controllers/navbarController.js"></script>

		<!-- Controller -->
		<script type="text/javascript" src="/controllers/PDFControllers/MissingInfoOnETAPDFController.js"></script>

	</head>

	<!-- Extra Styling -->
	<style>
		/*Changes Cursor to Pointer*/
		tr {
			cursor: pointer;
		}
	</style>

	<body ng-app="CSMApp" ng-controller="MissingInfoOnETAPDFController">

		<!-- Loader -->
		<div class="ui {{isLoading ? 'active' : ''}} dimmer">
			<div class="ui text loader">Fetching Data ...</div>
		</div>

		<!-- Displays if there is no Missing Info on ETA -->
		<div class="ui one cards">
			<div class="ui raised card" style="padding: 60px; margin-left: 200px; margin-right: 100px; margin-top: 90px; min-height: 500px;" ng-show="results.length <= 0">
				<h2 class="ui huge icon header" style="margin-top: 75px;">
					<i class="building outline icon"></i>
					No Missing Information
				</h2>
				<p style="text-align: center;">
					There is currently no missing information.
				</p>
			</div>
		</div>

		<!-- Report Page -->
		<div class="ui one cards">
			<div class="ui raised card" style="padding: 60px; margin-top: 90px; margin-left: 200px; margin-right: 100px;" ng-show="!isLoading && results.length > 0">
				<div id="missing">
					<div class="ui large header">
						Missing Info on ETA Report
						<div class="sub header">
							The table below shows the info missing on ETA that our team needs to display the correct data on our application. Please go to <a ng-click="goToETA()">ETA</a> and login to fill out the fields listed below for each engagement. Once the correct fields have been filled out on ETA, the list below will automatically update.
						</div>
					</div>
					<p style="font-size: 16px;">
						You can click on the row in the table and it will automatically redirect you to the page where the fields need to be filled out. On the page, click "Adoption Team Members" -> "CSM Information".
					</p>
					<p style="font-size: 16px;">
						This list was generated by looking at premium support contracts on ETA that have an assigned CSM listed in the <em>CSM Information</em> dropdown but do not have the rest of the fields completed. This list only shows CSMs that are listed on the spreadsheet. This report <strong>does not</strong> show any accounts on the spreadsheet that do not have their assigned CSM filled out on ETA.
					</p>
					<br />

					<!-- Dropdown Search Menus -->
					<select class="ui search selection dropdown" ng-model="searchClient" id="clientDropdown">
						<option value="">Clients</option>
						<option>All Clients</option>
						<option ng-repeat="client in clients">{{client}}</option>
					</select>
					<select class="ui search selection dropdown" ng-model="searchCSM" id="csmDropdown">
						<option value="">CSMs</option>
						<option>All CSMs</option>
						<option ng-repeat="client in csms">{{client}}</option>
					</select>

					<!-- Table -->
					<table class="ui very small three column compact selectable sortable celled table">
						<thead>
							<tr>
								<th ng-click="clientTableSortingOrder = (clientTableSortingOrder.includes('client') ? flipSortOrder(clientTableSortingOrder):'-client')" class="center aligned">
									Client <i ng-show="clientTableSortingOrder.includes('client')" class="caret {{clientTableSortingOrder.includes('-') ? 'down':'up'}}  icon"></i>
								</th>
								<th ng-click="clientTableSortingOrder = (clientTableSortingOrder.includes('name') ? flipSortOrder(clientTableSortingOrder):'-name')" class="center aligned">
									CSM <i ng-show="clientTableSortingOrder.includes('name')" class="caret {{clientTableSortingOrder.includes('-') ? 'down':'up'}}  icon"></i>
								</th>
								<th ng-click="clientTableSortingOrder = (clientTableSortingOrder.includes('missingFields') ? flipSortOrder(clientTableSortingOrder):'-missingFields.length')" class="center aligned">
									Missing Fields <i ng-show="clientTableSortingOrder.includes('missingFields')" class="caret {{clientTableSortingOrder.includes('-') ? 'down':'up'}}  icon"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="result in results | orderBy: clientTableSortingOrder | filter: {name: searchCSM == 'All CSMs' ? '' : searchCSM, client: searchClient == 'All Clients' ? '' : searchClient}" ng-click="redirect(result.id)">
								<td>
									<h4 class="ui image header">
										<div class="content">
											{{result.client}}
											<div class="sub header">{{result.clientRegion}}</div>
										</div>
									</h4>
								</td>
								<td style="text-align: center;">
									<i class="user icon"></i>{{result.name}}
								</td>
								<td>
									<ul>
										<li ng-repeat="field in result.missingFields track by $index">{{field}}</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
